* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
/* --------------------------------------------------------------------header-------------------------------------------------------------- */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: rgba(255, 131, 3, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 200px;
  margin-left: 50px;
}
#hamburger-button {
  display: none;
}
#hamburger-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 10000;
  flex-direction: column;
}
.ham-links > div {
  font-size: 30px;
  margin: 0 0 35px 30px;
}
.ham-links > div > a {
  color: #131f37;
  text-decoration: none;
  font-weight: 600;
}
.close-ham-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  font-size: 40px;
}
.close-ham-wrapper > i {
  cursor: pointer;
}
.header-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-right: 100px;
}
.header-links > div > a {
  color: white;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 16px;
}
.header-links > div > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  margin-top: 5px;
}
.header-links > div > a:hover::after {
  width: 100%;
}
/* ---------------------------------------------------------------body-------------------------------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------home-----------------------------------------------*/
.carousel-inner img {
  width: 100% !important;
  height: 100vh !important;
}
.carousel-inner {
  width: 100%;
  height: 100vh !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 25px;
  background-color: #181e32;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border: 1px solid #e2e8f0;
}
.youtube-player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.youtube-player-title {
  font-size: 20px;
  color: #ff8303;
  font-weight: 700;
  margin-bottom: 15px;
}
.youtube-player-desc {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
.home-second-carousel-title {
  position: absolute;
  top: 60px;
  z-index: 1100000;
  left: 42%;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.home-roadmap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.home-roadmap-title,
.home-document-title {
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.788);
  text-align: center;
}
.home-document {
  margin-top: 50px;
}
.home-document-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.home-document-item {
  min-width: 300px;
  height: 190px;
  border: 2px solid #ff8303;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 10px !important;
}
.home-document-item:hover {
  border: none;
  background-color: #ff8303;
  color: white !important;
  transform: scale3d(1.05, 1.05, 1);
}
.home-document-item > p {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.home-document-item > button {
  width: 70%;
  height: 50px;
  border: none;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
}
/* ------------------------------------------about-----------------------------------------------*/
.about-banner {
  width: 100%;
  height: 100vh;
  background-image: url(/images/aboutHeader.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-banner > span:nth-child(1) {
  color: #ff8303;
  font-size: 18px;
  font-weight: 700;
}
.about-banner-animation {
  width: 100%;
  height: 70px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
  font-weight: 600;
}
.about-banner > span:nth-child(3) {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.about-banner-first {
  display: flex;
}
.about-first-odd {
  opacity: 0;
  -webkit-animation-name: first;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}
.about-first-even {
  opacity: 0;
  -webkit-animation-name: first;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.about-banner-second {
  display: flex;
  position: absolute;
}
.about-second-odd {
  opacity: 0;
  -webkit-animation-name: second;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
  -webkit-animation-timing-function: ease-in-out;
}
.about-second-even {
  opacity: 0;
  -webkit-animation-name: second;
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes first {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes second {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.about-main-banner-one {
  width: 100%;
  position: relative;
  height: 600px;
  margin: 100px 0 0 0;
  background: linear-gradient(200.63deg, #353942 0%, #485776 100%);
  overflow: hidden;
}
.about-main-banner-one > img {
  position: absolute;
  right: -200px;
  top: 0;
}
.about-main-banner-one > div {
  width: 100%;
  margin-left: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about-main-banner-one > div > span:nth-child(1) {
  font-size: 46px;
  font-weight: 700;
  color: white;
}
.about-main-banner-one > div > div {
  width: 100px;
  height: 5px;
  background-color: #ff8303;
  margin: 20px 190px 20px 0;
}
.about-main-banner-one > div > span:nth-child(3) {
  color: white;
}
.about-main-banner-two {
  width: 100%;
  position: relative;
  height: 600px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about-main-banner-two > img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.about-main-banner-two > img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.about-main-banner-two > div {
  position: absolute;
  z-index: 1000;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}
.about-main-banner-two > div::after {
  content: "";
  z-index: 100000;
  position: absolute;
  left: -12px;
  top: -13px;
  display: block;
  width: 145%;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  background: #ff8303;
  opacity: 0.2;
  -webkit-animation-name: node;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes node {
  from {
    border: 0px white;
    display: none;
    opacity: 0;
  }
  to {
    border: 35px solid #ff8303;
    display: block;
    opacity: 0.3;
  }
}
.about-main-banner-two > span {
  color: black;
  font-size: 50;
  position: relative;
  z-index: 3;
  font-size: 40px;
  text-align: center;
  max-width: 400px;
  font-size: 3rem;
  color: #353942;
}
.about-node-one {
  background-image: url(/images/node1.svg);
  top: 13%;
  left: 12%;
}
.about-node-two {
  background-image: url(/images/node2.svg);
  top: 70%;
  left: 8%;
}
.about-node-three {
  background-image: url(/images/node3.svg);
  top: 80%;
  left: 20%;
}
.about-node-four {
  background-image: url(/images/node4.svg);
  top: 10%;
  left: 80%;
}
.about-node-five {
  background-image: url(/images/node5.svg);
  top: 49%;
  left: 86%;
}
.about-node-six {
  background-image: url(/images/node6.svg);
  top: 87%;
  left: 70%;
}
.about-main-banner-three {
  width: 100%;
  height: 600px;
  margin-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-main-banner-three > img {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  z-index: -10;
}
.about-main-banner-three > span:nth-child(2) {
  font-size: 3rem;
  font-weight: 700;
}
.about-main-banner-three > div:nth-child(3),
.about-main-banner-four > div:nth-child(4) {
  width: 80px;
  height: 4px;
  background-color: #ff8303;
  margin: 10px 0 15px 0;
}
.about-main-banner-three > span:nth-child(4) {
  color: #485776;
  font-size: 18px;
  font-weight: 700;
  max-width: 630px;
  word-wrap: break-word;
}
.about-main-banner-four {
  width: 100%;
  min-height: 700px;
  margin-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.about-main-banner-four > img {
  width: 100%;
  height: 600px;
  z-index: -1000;
  position: absolute;
  right: 0;
  opacity: 0.5;
  top: 0;
}
.about-main-banner-four > span:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #ff8303;
}
.about-main-banner-four > span:nth-child(3) {
  font-size: 50px;
  margin-top: 15px;
  font-weight: 700;
  color: black;
}
.about-main-banner-four-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-main-banner-four-team > div {
  width: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-main-banner-four-team > div > img {
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.295);
}
.about-main-banner-four-team > div > span {
  font-size: 20px;
  font-weight: 700;
  color: #353942;
  margin-top: 10px;
}
.about-main-banner-four-team > div > span > a > img {
  width: 25px;
  margin-left: 5px;
}
/* ------------------------------------------services-----------------------------------------------*/
.services-header-banner {
  width: 100%;
  height: 100vh;
  background-image: url(/images/header_services.jpg);
  background-size: contain;
  position: relative;
}
.services-banner-first {
  position: absolute;
  font-size: 60px;
  color: white;
  font-weight: 700;
  top: 32%;
  left: 30%;
  display: flex;
  letter-spacing: 1px;
}
.services-bg-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #3e4c6a68 15%, #131f3768 115%);
  z-index: 1000000000;
}
.service-odd {
  -webkit-animation-name: serviceOne;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}
.service-even {
  -webkit-animation-name: serviceTwo;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes serviceOne {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes serviceTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.services-bg-circle {
  position: absolute;
  background-color: #d06a02;
  border-radius: 9999px;
  opacity: 0.25;
  width: 152px;
  height: 152px;
  top: 25%;
  left: 25%;
  z-index: 15156456541654;
}
.services-bg-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f6f8fc3b;
  top: 55%;
}
.services-bg-line > div {
  width: 80px;
  height: 4px;
  background-color: #ff8303;
  margin-top: -2px;
  position: absolute;
  left: 42%;
}
.services-explore-text {
  position: absolute;
  top: 25%;
  left: 28%;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.services-services {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.services-service {
  width: 240px;
  margin: 10px;
  height: 240px;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
}
.services-service:hover {
  color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.322);
  transition-duration: 1s;
}
.services-service > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.services-service > span {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 100;
}
.services-service > div {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0 0 10px;
  background:rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) repeat scroll 0% 0%;;
}
/* ---------------------------------------------------------------------footer---------------------------------------------------------------- */
.posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.posts-item {
  width: 320px;
  height: 250px;
  border-radius: 10px;
  margin: 15px !important;
  position: relative;
  cursor: pointer;
}
.post-hover-bg {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.post-hover-bg:hover {
  background-color: rgba(255, 133, 3, 0.3);
}
.posts-item > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.posts-item > p {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 22px;
  color: white;
  font-weight: 700;
}
.footer {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #040404, #000000, #656565);
  margin-top: 50px;
}
.footer-bg {
  width: 100%;
  height: 300px;
  background-image: url(/images/footer-pattern.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-input-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-input-section > span {
  font-size: 40px;
  color: white;
}
.footer-input-section > div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer-input-section > div > input {
  width: 250px;
  height: 46px;
  border-radius: 7px 0 0 7px;
  border: none;
  padding-left: 10px;
}
.footer-input-section > div > button {
  border-radius: 0 7px 7px 0;
  border: none;
  width: 80px;
  height: 47px;
  margin-bottom: 0.5px;
  background-color: #ff8303;
  color: white;
  margin-top: 1.5px;
  font-size: 14px;
  font-weight: 700;
}
.footer-social {
  width: 50%;
  min-width: 320px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-item > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff8303;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-item > div > img {
  width: 30px;
  height: 30px;
}
.footer-social-item > span {
  color: white;
}
/* ------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  .about-main-banner-one > div {
    margin-left: 20px;
  }
  .about-main-banner-one > div > div {
    margin: 20px 190px 20px 0;
  }
  .services-banner-first {
    left: 10%;
  }
  .services-bg-circle {
    left: 7%;
  }
  .services-bg-line > div {
    left: 25%;
  }
  .services-explore-text {
    left: 10.5%;
  }
}
@media only screen and (max-width: 1100px) {
  .header-links {
    padding-right: 30px;
  }
  .about-main-banner-one > img {
    right: -400px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-links {
    display: none;
  }
  #hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100px;
    padding-top: 5px;
  }
  #hamburger-button > i {
    cursor: pointer;
  }
  .header-logo {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .footer-social-item > div {
    width: 45px;
    height: 45px;
  }
  .footer-social-item > div > img {
    width: 20px;
    height: 20px;
  }
  .footer-input-section > span {
    font-size: 30px;
  }
  .home-roadmap-title {
    font-size: 30px;
  }
  .home-second-carousel-title {
    left: 40%;
  }
  .about-main-banner-one > img {
    right: -500px;
  }
  .services-banner-first {
    left: 12%;
  }
  .services-bg-line > div {
    left: 30%;
  }
  .services-explore-text {
    left: 11.5%;
  }
}
@media only screen and (max-width: 600px) {
  .about-main-banner-two > span {
    font-size: 2rem;
    max-width: 300px;
  }
  .about-node-five {
    top: 59%;
  }
}
@media only screen and (max-width: 500px) {
  .footer-input-section > span {
    font-size: 18px;
  }
  .footer-input-section > div > input {
    height: 35px;
    width: 160px;
  }
  .footer-input-section > div > button {
    width: 70px;
    height: 36px;
    font-size: 12px;
    margin-top: 0.5;
  }
  .footer-social-item > span {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 700;
  }
  .youtube-player-title {
    font-size: 16px;
    font-weight: 900;
  }
  .youtube-player-desc {
    font-size: 18px;
    margin-top: 15px;
  }
  .home-roadmap-title {
    font-size: 24px;
  }
  .home-second-carousel-title {
    left: 37%;
  }
  .about-main-banner-one > div {
    margin-left: 5px;
  }
  .about-main-banner-one > img {
    opacity: 0.2;
  }
  .services-banner-first {
    font-size: 40px;
  }
  .services-bg-circle {
    left: 4%;
  }
  .services-bg-line > div {
    left: 30%;
  }
  .services-explore-text {
    left: 12%;
  }
}
@media only screen and (max-width: 400px) {
  .youtube-player-desc {
    font-size: 14px;
  }
  .home-second-carousel-title {
    left: 33%;
  }
  .about-node-five {
    display: none !important;
  }
}
