* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  position: relative;
}
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: rgba(255, 131, 3, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 200px;
  margin-left: 50px;
}
#hamburger-button {
  display: none;
}
#hamburger-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 10000;
  flex-direction: column;
}
.ham-links > div {
  font-size: 30px;
  margin: 0 0 35px 30px;
}
.ham-links > div > a {
  color: #131f37;
  text-decoration: none;
  font-weight: 600;
}
.close-ham-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  font-size: 40px;
}
.close-ham-wrapper > i {
  cursor: pointer;
}
.header-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-right: 100px;
}
.header-links > div > a {
  color: white;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 16px;
}
.header-links>div>a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  margin-top: 5px;
}
.header-links>div>a:hover::after {
  width: 100%;
}
.carousel-inner img {
  width: 100% !important;
  height: 100vh !important;
}
.carousel-inner {
  width: 100%;
  height: 100vh !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 25px;
  background-color: #181e32;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}
.footer {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #040404, #000000, #656565);
  margin-top: 50px;
}
.footer-bg {
  width: 100%;
  height: 300px;
  background-image: url(/images/footer-pattern.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-input-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-input-section > span {
  font-size: 40px;
  color: white;
}
.footer-input-section > div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer-input-section > div > input {
  height: 46px;
  border-radius: 7px 0 0 7px;
  border: none;
  padding-left: 10px;
}
.footer-input-section > div > button {
  border-radius: 0 7px 7px 0;
  border: none;
  width: 80px;
  height: 47px;
  margin-bottom: 0.5px;
  background-color: #ff8303;
  color: white;
  margin-top: 1.5px;
  font-size: 14px;
  font-weight: 700;
}
.footer-social {
  width: 50%;
  min-width: 320px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-item > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FF8303;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-item > div > img{
  width: 30px;
  height: 30px;
}
.footer-social-item > span{
  color: white;
}
/* ---------------------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  .header-links {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-links {
    display: none;
  }
  #hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100px;
    padding-top: 5px;
  }
  #hamburger-button > i {
    cursor: pointer;
  }
  .header-logo {
    margin-left: 20px;
  }
}
@media only screen and (max-width:800px){
  .footer-social-item > div{
    width: 45px;
    height: 45px;
  } 
  .footer-social-item > div > img{
    width: 20px;
    height: 20px;
  }
  .footer-input-section > span {
    font-size: 30px;
  } 
}
@media only screen and (max-width:500px){
  .footer-input-section > span {
    font-size: 18px;
  }
  .footer-input-section > div > input {
    height: 35px;
    width: 160px;
  } 
  .footer-input-section > div > button {
    width: 70px;
    height: 36px;
    font-size: 12px;
    margin-top: .5;
  }
}