* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  position: relative;
}
/* --------------------------------------------header---------------------------------------- */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: rgba(255, 131, 3, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 200px;
  margin-left: 50px;
}
#hamburger-button {
  display: none;
}
#hamburger-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 10000;
  flex-direction: column;
}
.ham-links > div {
  font-size: 30px;
  margin: 0 0 35px 30px;
}
.ham-links > div > a {
  color: #131f37;
  text-decoration: none;
  font-weight: 600;
}
.close-ham-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  font-size: 40px;
}
.close-ham-wrapper > i {
  cursor: pointer;
}
.header-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-right: 100px;
}
.header-links > div > a {
  color: white;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 16px;
}
.header-links > div > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  margin-top: 5px;
}
.header-links > div > a:hover::after {
  width: 100%;
}
/* ---------------------------------------------body---------------------------------------- */
.carousel-inner img {
  width: 100% !important;
  height: 100vh !important;
}
.carousel-inner {
  width: 100%;
  height: 100vh !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 25px;
  background-color: #181e32;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border: 1px solid #e2e8f0;
}
.youtube-player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.youtube-player-title {
  font-size: 20px;
  color: #ff8303;
  font-weight: 700;
  margin-bottom: 15px;
}
.youtube-player-desc {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
.home-second-carousel-title {
  position: absolute;
  top: 60px;
  z-index: 1100000;
  left: 42%;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.home-roadmap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.home-roadmap-title,
.home-document-title {
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.788);
  text-align: center;
}
.home-document {
  margin-top: 50px;
}
.home-document-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.home-document-item {
  min-width: 300px;
  height: 190px;
  border: 2px solid #ff8303;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out; 
  color: rgba(0, 0, 0, 0.705);
  margin-top: 10px !important;
}
.home-document-item:hover{
  border: none;
  background-color: #ff8303;
  color: white !important;
  transform: scale3d(1.05, 1.05, 1);
}
.home-document-item > p {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.home-document-item>button{
  width: 70%;
  height: 50px;
  border:none;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
}
.posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.posts-item{
  width: 320px;
  height: 250px;
  border-radius:10px;
  margin: 15px !important;
  position: relative;
  cursor: pointer;
}
.post-hover-bg{
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  transition: all 0.1s ease-in-out; 
}
.post-hover-bg:hover{
  background-color: rgba(255,133,3,0.3);
}
.posts-item>img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.posts-item>p{
  position:absolute;
  right: 0;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 22px;
  color: white;
  font-weight: 700;
}
/* ----------------------------------------------footer--------------------------------------- */
.footer {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #040404, #000000, #656565);
  margin-top: 50px;
}
.footer-bg {
  width: 100%;
  height: 300px;
  background-image: url(/images/footer-pattern.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-input-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-input-section > span {
  font-size: 40px;
  color: white;
}
.footer-input-section > div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer-input-section > div > input {
  width: 250px;
  height: 46px;
  border-radius: 7px 0 0 7px;
  border: none;
  padding-left: 10px;
}
.footer-input-section > div > button {
  border-radius: 0 7px 7px 0;
  border: none;
  width: 80px;
  height: 47px;
  margin-bottom: 0.5px;
  background-color: #ff8303;
  color: white;
  margin-top: 1.5px;
  font-size: 14px;
  font-weight: 700;
}
.footer-social {
  width: 50%;
  min-width: 320px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-item > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff8303;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-item > div > img {
  width: 30px;
  height: 30px;
}
.footer-social-item > span {
  color: white;
}
/* ------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  .header-links {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .header-links {
    display: none;
  }
  #hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100px;
    padding-top: 5px;
  }
  #hamburger-button > i {
    cursor: pointer;
  }
  .header-logo {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .footer-social-item > div {
    width: 45px;
    height: 45px;
  }
  .footer-social-item > div > img {
    width: 20px;
    height: 20px;
  }
  .footer-input-section > span {
    font-size: 30px;
  }
  .home-roadmap-title{
    font-size: 30px;
  }
  .home-second-carousel-title{
    left: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .footer-input-section > span {
    font-size: 18px;
  }
  .footer-input-section > div > input {
    height: 35px;
    width: 160px;
  }
  .footer-input-section > div > button {
    width: 70px;
    height: 36px;
    font-size: 12px;
    margin-top: 0.5;
  }
  .footer-social-item > span {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 700;
  }
  .youtube-player-title{
    font-size: 16px;
    font-weight: 900;
  }
  .youtube-player-desc{
    font-size: 18px;
    margin-top: 15px;
  }
  .home-roadmap-title{
    font-size: 24px;
  }
  .home-second-carousel-title{
    left: 37%;
  }
}
@media only screen and (max-width:400px){
  .youtube-player-desc{
    font-size: 14px;
  }
  .home-second-carousel-title{
    left: 33%;
  }
}
